@{
    ViewData["Title"] = "Privacy Policy";
}

@model List<TodoApp.Models.TasksList>
@*@model TodoApp.Models.TasksList
@* <h1>@ViewData["Title"]</h1> *@

@* <p>Use this page to detail your site's privacy policy.</p> *@

@* <h1>Data From ViewData</h1>

<h3>Task Title:</h3>@ViewData["Title"]
<h3>Task Description:</h3>@ViewData["Description"]
<h3>Task Status:</h3>@ViewData["Status"]

<h1>Data From ViewBag</h1>

<h3>Task Title:</h3>@ViewBag.Task1
<h3>Task Description:</h3>@ViewBag.Description1
<h3>Task Status:</h3>@ViewBag.Status1

<h1> view from model</h1>

<table class="table" border=1>
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model)
        {
            <tr>
                <td>@task.task</td>
                <td>@task.Description</td>
                <td>@task.Status</td>
            </tr>
        }
    </tbody>
</table> *@

<h1 class="text-primary mb-3">Create your task</h1>


<form asp-controller="Home" asp-action="Privacy" method="POST">
    <div class="form-group">
        <label for="task">Task</label>
        <input type="text" class="form-control" id="task" name="task" aria
               describedby="TaskHelp" placeholder="Enter your task">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" name="description" aria
               describedby="DescriptionHelp" placeholder="Enter description of your tasks">
    </div>
    <div class="form-group">
        <label for="status">Status</label>
        <input type="text" class="form-control" id="status" name="status" aria
               describedby="StatusHelp" placeholder="Enter status of your task">
    </div>
    <button type="submit" class="btn btn-primary mt-3">Submit</button>
</form>

<h1 class="mt-5 mb-3 text-primary">My Task Lists</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Task</th>
            <th scope="col">Description</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var list in Model)
        {
            <tr>
                <td>@list.Task</td>
                <td>@list.Description</td>
                <td>@list.Status</td>
            </tr>
        }
    </tbody>
</table>